input[type="text"]::-webkit-input-placeholder {
            color: gray;
            font-size: 14px;
        }
        
input[type="text"]:-ms-input-placeholder {
            color: gray;
            font-size: 14px;
        }
        
input[type="text"]::-ms-input-placeholder {
            color: gray;
            font-size: 14px;
        }
        
input[type="text"]::placeholder {
            color: gray;
            font-size: 14px;
        }
.trX{
        	margin-top: 35px;
  		    margin-left: -25px;
  		    margin-right: 25px;
  		    width: 200px;
        }
.numberi{
    display: inline-table;
    margin-top: 10px;
}
.arrY{
    margin-top: 2px;
}
.arrX{
    margin-top: 2px;
}