:root {
  --black-1000: #0D0D0D;
  --black-900: #151515;
  --black-850: #1A1A1A;
  --black-800: #202020;
  --black-700: #2A2A2A;
  --black-600: #333333;
  --black-500: #3C3C3C;

  --grey-600: #7D7D7D;

  --white-1000: #E5E5E5;
  --white-900: #F2F2F2;
  --white-800: #B3B3B3;
  --white-700: #8C8C8C;

  --purple: #7F5CE6;
  --purple-disabled: #4A3B73;
  --blue: #5C7FE6;
  --orange: #FF9143;
  --green: #5CE673;
  --green-100: #2B8019;
  --red: #E65C75;

  --accent-yellow: #E6C35C;
  --accent-cyan: #5CE6E6;
  --accent-pink: #E65CA8;
}
