:root {
  --black-navbar: #111111;
  --black-1000: #131313;
  --black-900: #181818;
  --black-850: #1b2914;
  --black-800: #242424;
  --black-700: #343434;
  --black-600: #3d3d3d;
  --black-500: #494949;

  --grey-600: #8a8a8a;

  --white-1000: #ffffff;
  --white-900: #fcfcfc;
  --white-800: #a6a6a6;
  --white-700: #8a8a8a;

  --purple: #885ce6;
  --purple-disabled: #4d377c;
  --blue: #5e5ce6;
  --orange: #ffa843;
  --green: #88e65c;
  --green-100: #3a8019;
  --red: #e65c5c;
}
