body, html {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;

  background: $background-color;

  color: $text-primary-color;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $border-light-color;
    border-radius: 8px;
  }
}
